.card{
    position: absolute;    
    float: left;
    top: 0;     
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background: black;
    transition: background .5s .5s ease-out;        
}

.card-element{
    position: absolute;
    float: left;
    left: 0;
    top: 10vh;
    left: 2vw;
    width: 65%;
    height: 40vh;    
    background: linear-gradient(to top right, #FF2DF1, #F6DC43);
    border-radius: 8px;
}
.card-element-one{
    position: absolute;
    float: left;
    left: 0;
    top: 55vh;
    left: 2vw;
    width: 65vw;
    height: 28vh;
    background: linear-gradient(to bottom right, #FF2DF1, #F6DC43);
    border-radius: 8px;    
}



.card-element img{
    position: absolute;
    float: right;
    right: 0px;
    top: -12vh;
    width: 15vw;
    height: 30vh;    
    transition: 2s ease-in-out;
    border-radius: 50%;    
}
.card-element-one .icon{
    position: absolute;
    float: right;
    right: 0px;
    top: -24vh;
    width: 20vw;
    height: 40vh;    
    transition: 2s ease-in-out;      
}


.card-title{
    position: absolute;    
    width: 67%;
    height: 46%;    
    float: left;
    top: 0;
    left: 0;        
}
.card-title-one{
    position: absolute;    
    width: 71%;
    height: 40%;    
    float: left;
    top: 0;
    left: 0;     
}


.card-word{
    position: absolute;    
    width: 100%;
    height: 55%;    
    float: left;
    bottom: 0;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red;     */
}
.card-word-one{
    position: relative;    
    width: 100%;
    height: 50%;    
    float: left;
    left: 0;
    bottom: 0; 
    top: 12vh;    
}


.card-word-one ul{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;    
    transform: translate(-50%,-50%);
    border-radius: 8px;        
}
.card-word-one ul li{
    list-style: none;
    margin: 0 5px;     
    text-align: center;
}

.card-word-one ul li .fa-brands, .fa-solid{      
    font-size: 30px;
    padding-bottom: 5px;         
}

.card-word-one ul li .icons{        
    height: 30px;
    width: 30px;
}

.card-word-one ul li span{
    color: white;
}

.card-word-one ul li .fa-brands, .fa-solid, .icons{
    line-height: 30px;
}





img#software-developer:hover ~ #left-slide > .card{
    background: transparent; 
}



h1{         
    white-space: nowrap;
    color: white;
    text-align: center;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

p{    
    text-align: justify;
    position: absolute;
    padding: 15px 30px;
    color: white;
}
