#left-slide{
    position: absolute;
    float: left;
    left: 0;
    top: 10vh;
    width: 0%;
    height: 90vh;    
    background: black;
    box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, .9);    

    transition: .5s ease-in-out;             
    overflow: hidden;
}


img#software-developer:hover ~ #left-slide
{            
    width: 69%;
    z-index: 5;
    background: black !important;
}

img#software-developer:not(:hover) ~ #left-slide
{           
    z-index: 5;
    background: black !important;
    transition: 1s 1s ease-out;
    box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, .1);
}
