.card{
    position: absolute;
    display: inline-flex;  
    float: left;
    top: 0;     
    left: 0;
    width: 100%;
    height: 100vh;
    background: transparent;    
    border: 1px solid red;     
}

p{
    display: block;
    text-align: center;
    padding: 50px;
    color: black;
}

.card-element{
    position: absolute;
    float: left;
    top: 7vh;
    left: 2vw;
    width: 65%;
    height: 40vh;
    border: 2px solid red;     
}
.card-image-one{
    position: relative;
    float: right;
    right: 0px;
    top: -10vh;
    width: 15vw;
    height: 30vh;
    border: 2px solid red;
}
img#concept-one{
    width: 100%;
    height: 100%;    
}

