#right-right-slide{
    position: absolute;
    float: right;
    right: 0;
    top: 10vh;
    width: 0%;
    height: 90vh;
    background: black;
    box-shadow: 20px 20px 50px 50px rgba(0, 0, 0, .4);    

    transition: .5s ease-in-out;
    overflow: hidden;
}

#left-left-slide{
    position: absolute;
    float: left;
    left: 0;
    top: 10vh;
    width: 0%;
    height: 90vh;
    background: black;
    box-shadow: 20px 20px 50px 20px rgba(0, 0, 0, .4);
    
    transition: .5s ease-in-out;
    overflow: hidden;  
}

img#me:hover ~ #right-right-slide
{
    width: 36.5%;
    z-index: 5;   
    background: black !important; 
}

img#me:hover ~ #left-left-slide
{
    width: 35%;
    z-index: 5; 
    background: black !important;   
}



img#me:not(:hover) ~ #right-right-slide
{       
    z-index: 5;
    background: black !important;
    transition: 1s 1s ease-out;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
}
img#me:not(:hover) ~ #left-left-slide
{       
    z-index: 5;
    background: black !important;
    transition: 1s 1s ease-out;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
}