#right-slide{
    position: absolute;
    float: right;
    right: 0;
    top: 10vh;
    width: 0%;
    height: 90vh;
    background: black;
    box-shadow: 20px 20px 50px 50px rgba(0, 0, 0, .5);    
    
    transition: .5s ease-in-out;               
    overflow: hidden;
}

img#farmer:hover ~ #right-slide
{
    width: 71%;
    z-index: 5;    
}

img#farmer:not(hover) ~ #right-slide
{   
    width: 0%;
    z-index: 5;
}